<body class="bg-indigo-50">
   <div class="bg-gray-100 border-b border-gray-300">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center">
        <p class="ml-3 font-medium text-gray-600 sm:ml-0">
          <span class="md:inline text-xl font-medium"> Edit Article </span>
        </p>
      </div>
       
    </div>
  </div>
</div>
 <%= render 'form' %>
</body>